.todolistWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

.buttonStarWrapper {
    height: 40px;
    width: 30px;
}

.buttonStar {
    padding-top: 5px;
    background-color: white;
    border: white;
}

.starImg {
    height: 25px;
    width: 25px;
}

.isDone {
    padding-top: 8px;
    width: 200px;
    opacity: 0.5;
    font-size: 15px;
}

.notIsDone {
    padding-top: 8px;
    width: 200px;
    font-size: 15px;
}