.delete {
    max-width: 450px;
    width: 250px;
    border-radius: 8px;
    top: 30%;
    position: fixed;
    right: 35%;
    background: #935454;
    padding: 0 0 18px 16px;
    color: #092878;
    font-size: 16px;
    letter-spacing: 0.3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.buttonX {
    height: 30px;
    width: 30px;
    border-radius: 8px;
    background-color: red;
    color: white;
    margin-left: 220px;
}