.delete {
    max-width: 450px;
    width: 250px;
    border-radius: 8px;
    top: 30%;
    position: fixed;
    right: 35%;
    background: #935454;
    padding: 12px 0 18px 16px;
    color: #092878;
    font-size: 16px;
    letter-spacing: 0.3px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
}